@model QUANLYSINHVIEN.Models.ThongKeBi

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ThongKeBi</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DiemTb)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DiemTb)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.XepLoai)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.XepLoai)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SoTinChiTichLuy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SoTinChiTichLuy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TyLeMonRot)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TyLeMonRot)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaSvNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaSvNavigation.MaSv)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.MaThongKe">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
